<h1>Todoを編集</h1>

<%= form_with model: @task do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>

<% if @task.errors.any? %>
  <font color = red>エラーです。タイトルを入力してください。</font>
<% end %>

<%# 編集用フォームを作成 %>