<h1>Todo詳細画面表示ページ</h1>
// この画面の説明

<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <tr>
  <td><%= @todo.id %></td>
  <td><%= @todo.title %></td>
  <td><%= @todo.content %></td>
  </tr>
  <% end %>
</table>